.Cell {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
}

.grid {
    width: 1000px; /* 60 cells * 25px/cell = 1500px */
    height: 1000px; /* 30 cells * 25px/cell = 250px */
    clear: both;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
